/* index.css */

/* Import dei font DM Sans e PT Serif da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

:root {
  font-family: "DM Sans", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.5px; /* or -1px if needed */
  color-scheme: light dark;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: bold;
  color: #1a3b70;
  text-decoration: inherit;
  font-family: 'DM Sans', sans-serif;
}

a:hover {
  color: #1a3b70;
}

body {
  margin: 0;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  background-color: white; /* Sfondo nero per l'intera pagina */
  min-height: 100vh;
  padding: 0;
}

h1 {
  font-size: 1rem;
  line-height: 1.1;
  font-family: "DM Sans", sans-serif;
  font-weight:bold;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 110px; /* Spazio per il TopNav */
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}